<h1>New Article</h1>

<form action="/articles" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="article_title">Title</label><br>
    <input type="text" name="article[title]" id="article_title">
  </div>

  <div>
    <label for="article_body">Body</label><br>
    <textarea name="article[body]" id="article_body"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Article" data-disable-with="Create Article">
  </div>
</form>

<%# <%= form_with model: @article do |form| %1> %>
<%#   <div> %>
<%#     <%= form.label :title %1><br> %>
<%#     <%= form.text_field :title %1> %>
<%#   </div> %>

<%#   <div> %>
<%#     <%= form.label :body %1><br> %>
<%#     <%= form.text_area :body %1> %>
<%#   </div> %>

<%#   <div> %>
<%#     <%= form.submit %1> %>
<%#   </div> %>
<%# <% end %1> %>
